$dark-blue: #161828;
$red: #ea5b58;
$hover-red: #dc3935;
$blue: #475a85;
$gray: #323232;
$light-gray: #a7a7a7;

*, *:after, *:before { 
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
}

html {
	font-size: 10px;
}

body {
	background-color: #161828;
}

.page-header {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	height: 80px;
	background-color: #0d0b11;
	color: #ffffff;
	width: 100%;
	position: fixed;
	transition: .3s;
	z-index: 100;

	&.scrolled {
		height: 60px;
	}

	&__logo {
		font-size: 2.2em;
		font-weight: normal;

		a {
			color: #ffffff;
			text-decoration: none;
		}
	}
}

.hl {
	font-weight: bold;
}

.menu__menu-list {
	display: flex;
	justify-content: center;

	&__element {
		font-size: 1.5em;
		list-style: none;
		margin: 25px;

		&:last-child {
			margin-right: 0;
		}

		a {
			text-decoration: none;
			color: #ffffff;
			transition: 0.20s;

			&:hover {
				color: #d2d2d2;
			}
		}
	}
}

.hamburger {
	display: none;
}

.section-heading--l {
	font-size: 4.2em;
	color: #ffffff
}

.section-heading--s {
	font-size: 2.5em;
	color: #ffffff
}

.about--l {
	font-size: 2.2em;
	color: #ffffff
}

.about--s {
	font-size: 1.7em;
	color: #ffffff
}

.header-section {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 470px;
	background-image: url('img/bg.png');
	background-repeat: no-repeat;
	background-size: cover;
	transform: translateY(80px);
	margin-bottom: 80px;

	&__container {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		height: 60%;
		width: 40%;
		padding-left: 30px;
		padding-right: 30px;
	}
	
	&__img {
		max-width: 460px;
		max-height: 350px;
		border-left: 20px solid rgba(255, 255, 255, 0.25);
		border-bottom: 20px solid rgba(255, 255, 255, 0.25);
		border-radius: 8px;
		margin-right: 20px;
	}

	&__about {
		margin-bottom: 30px;
	}
}

.button {
	background-color: $red;
	color: #ffffff;
	font-size: 1.6em;
	width: 150px;
	height: 58px;
	border-radius: 4px;
	outline: 0;
	border: 0;
	cursor: pointer;
	transition: .3s;

	&:hover,
	&:focus {
		background-color: $hover-red;
		border: 2px solid $dark-blue;
	}
}

.button--s {
	width: 90px;
	height: 35px;
	font-size: 1.3em;

	&:hover,
	&:focus {
		border: 1px solid $dark-blue;
	}
}

.services {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 450px;
	background-color: $blue;
	padding-top: 50px;
	padding-bottom: 50px;

	&__about {
		margin-top: 10px;
		margin-bottom: 20px;
	}
}

.line {
	width: 255px;
	height: 1px;
	background-color: #ffffff;
	position: relative;

	&::after {
		content: "";
		width: 12px;
		height: 12px;
		background-color: #ffffff;
		position: absolute;
		border-radius: 100%;
		right: 0;
		top: 50%;
		transform: translate(100%, -50%);
	}

	&::before {
		content: "";
		width: 12px;
		height: 12px;
		background-color: #ffffff;
		position: absolute;
		border-radius: 100%;
		left: 0;
		top: 50%;
		transform: translate(-100%, -50%);
	}

	&--black {
		background-color: #000000;
	}
}

.services-container {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
	color: #ffffff;
	width: 80vw;

	.icon {
		font-size: 45px;
	}

}

.service {
	width: 220px;
	text-align: center;
  margin-top: 75px;

	&__name {
		font-size: 1.8em;
		margin-top: 25px;
		margin-bottom: 15px;
	}

	&__desc {
		font-size: 1.4em;
		margin-bottom: 30px;
	}
}

.works {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-image: url("img/bg2.png");
	height: 420px;
	text-align: center;
	padding: 10px;

	&__about {
		margin-top: 5px;
	}
}

.portfolio {
	min-height: 1000px;
	background-color: #ffffff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 50px;

	.section-heading--s {
		color: $gray;
	}

	&__about {
		color: $gray;
		margin-top: 5px;
		margin-bottom: 20px;
	}

	&__categories {
		display: flex;
		justify-content: space-evenly;
		margin-top: 75px;
		margin-bottom: 40px;
		width: 150px;
		font-size: 1.6em;
		color: $gray;

		&__choose {
			display: none;

			&:checked + label {
				color: $gray;
			}
		}

		label {
			color: $light-gray;
			transition: .3s;
			border: 0;
			outline: 0;
			cursor: pointer;

			&:hover {
				color: $gray;
			}
		}

		.chosen {
			color: $gray;
		}
	}
}


.line--black {
	background-color: $gray;

	&::after {
		background-color: $gray;
	}

	&::before {
		background-color: $gray;
	}
}

.works-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	max-width: 1200px;
}

.work {
	position: relative;
	text-align: center;
	width: 365px;
	height: 290px;
	overflow: hidden;
	margin: 15px;
	transition: 1s;

	&.active {
		opacity: 0.5;

		&:hover {
			.work__about {
				display: none;
			}

			.work__img {
				transform: scale(1);
			}
		}
	}

	&:hover {
		.work__about {			
			opacity: 1;
		}

		.work__img {
			transform: scale(1.15);
		}
	}

	&__img {
		width: 365px;
		height: 290px;
		transform: scale(1);
		transition: .3s;
	}

	&__about {
		opacity: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: absolute;
		color: #ffffff;
		background-color: $blue;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		transition: .5s;

		&__title {
			font-size: 2em;
		}

		&__desc {
			width: 270px;
			font-size: 1.4em;
			margin-top: 15px;
			margin-bottom: 15px;
		}
	}
}

.icon-eye {
	font-size: 34px;
	cursor: pointer;
	transition: .3s;

	&:hover {
		transform: translateY(5px);
		color: #d6d6d6;
	}
}

.modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.75);
	z-index: 100;

	&.active {
		display: block;
	}

	&__img {
		width: 547px;
		height: 435px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	&__close {
		position: absolute;
		top: 50px;
		right: 100px;
		font-size: 40px;
		color: #ffffff;
		cursor: pointer;
		transition: .3s;

		&:hover {
			color: #d6d6d6;
		}
	}

	&__next,
	&__prev {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		font-size: 44px;
		color: #ffffff;
		cursor: pointer;
		transition: .3s;

		&:hover {
			color: #d6d6d6;
		}
	}

	&__next {
		transform: rotate(90deg);
		right: 20%;
	}

	&__prev {
		transform: rotate(-90deg);
		left: 20%;
	}
}

.see-more {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 1.6em;
	font-weight: bold;
	color: $gray;
	text-decoration: none;
	margin-top: 40px;
	background-color: transparent;
	border: 0;
	outline: 0;
	cursor: pointer;

	&:hover,
	&:focus {
		text-decoration: underline;

		.see-more__icon {
			transform: translateY(7px);
			color: $light-gray;
		}
	}

	&__icon {
		font-size: 4.8rem;
		transition: .3s;
	}
}

.testimonials {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #ffffff;
	padding-top: 50px;

	.section-heading--s,
	.about--s {
		color: $gray;
		text-align: center;
		padding: 10px;
	}

	.about--s {
		margin-top: 15px;
		margin-bottom: 20px;
	}	
}

.slider-dots {
	display: flex;
	justify-content: center;
	margin-bottom: 50px;

	&__dot {
		width: 15px;
		height: 15px;
		border-radius: 50%;
		background-color: $light-gray;
		border: 0;
		margin: 5px;
		cursor: pointer;
		transition: .25s;

		&:hover {
			background-color: $gray;
		}

		&.active {
			background-color: $gray;			
		}
	}
}

.slider {
  overflow: hidden;
  width: 1000px;

  &__slides {
  	position: relative;
	 	display: flex;
	  height: 100%;
	  transition: transform 0.5s cubic-bezier(0.51, 0.92, 0.24, 1);
	  width: 4000px;
	}

	@for $i from 0 through 3 {
	    &[data-pos="#{$i}"] .slider__slides {
			transform: translateX($i * -25%);
		}
	}
}


.testimonial-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 50px;
	margin-bottom: 50px;
  height: 100%;
  width: 1000px;

	&__face {
		width: 225px;
		height: 225px;
		border: 4px solid $light-gray;
		border-radius: 100%;
		margin-right: 75px;
	}

	&__quote {
		font-style: italic;
		font-size: 1.4em;
		width: 730px;
		position: relative;

		&__quotation-mark {
			font-size: 1.6em;
			position: absolute;
			top: -5px;
			left: -35px;
			transform: rotate(180deg);			
		}

		&__author {
			font-size: 1.6em;
			font-weight: bold;
			font-style: normal;
			margin-top: 20px;
		}
	}
}

.get-in-touch {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-image: url(img/bg2.png);
	height: 420px;
	text-align: center;
	padding: 10px;

	&__about {
		margin-top: 5px;
	}
}

.map {
	height: 510px;
}

.contact {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	min-height: 570px;
	background-color: $blue;
	position: relative;
	padding-top: 50px;
	padding-bottom: 50px;

	&__about {
		margin-top: 5px;
		margin-bottom: 20px;
	}

	&__header-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100vw;
	}

	&__contact-container {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		font-size: 1.6em;
		color: #ffffff;
		height: 325px;
		padding-left: 10px;
		padding-right: 10px;

		&__hours {
			margin-bottom: 10px;
		}
	}

	a {
		color: #ffffff;
		text-decoration: none;
	}

	&__form {
		display: flex;
		justify-content: space-between;
		align-content: space-between;
		flex-wrap: wrap;
		width: 570px;
		height: 325px;

		&__name,
		&__mail,
		&__message {
			width: 275px;
			height: 60px;
			color: $gray;
			padding: 15px;
			font-size: 1.6em;
			box-sizing: border-box;
			border-radius: 6px;
			border: 0;
			transition: .3s;
			background-color: #eeeeee;
			outline: none;

			&:hover,
			&:focus {
				border: 2px solid $dark-blue;
				background-color: #ffffff;
			}
		}

		&__message {
			width: 100%;
			height: 165px;
			resize: none;
		}
	}
}

.to-top {
	position: absolute;
	right: 50px;
	bottom: 50px;
	width: 60px;
	height: 60px;
	background-color: $light-gray;
	color: $gray;
	font-size: 40px;
	border: 0;
	cursor: pointer;
	border-radius: 5px;
	transition: .3s;

	&:hover {
		background-color: $gray;
		color: $light-gray;
	}
}

.socials {
	height: 50px;
	margin-top: 30px;

	&__icon {
		color: #cbcbcb;
		font-size: 35px;
		transition: .3s;
		
		&:hover {
			color: #ffffff;
		}
	}
}

.footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: $dark-blue;
	color: rgba(255, 255, 255, 0.4);
	height: 175px;
	font-size: 1.4em;

	&__small-logo {
		font-size: 2rem;
		letter-spacing: 1px;
		margin-top: 15px;
	}
}

@media (max-width: 1024px) {
	.service {
		margin-top: 40px;
	}

	.testimonial-container {
		width: 95vw;
	}

	.slider {	
		width: 95vw;

		&__slides {
			width: 380vw;
		}	
	}

	.modal {
		&__prev {
			left: 0%;
		}

		&__next {
			right: 0%;
		}

		&__close {
			right: 5%;
			top: 5%;
		}
	}

	.contact {
		&__contact-container {
			text-align: center;
			margin-top: 25px;
		}
	}

	.socials {
		text-align: center;
		margin-bottom: 30px;
	}
}

@media (max-width: 777px) {
	.page-header {
		height: 60px;
		transition: 0s;
	}

	.menu {
		&__menu-list {
			display: none;			
			position: absolute;
			background-color: #000000;
			width: 100vw;
			top: 60px;
			left: 50%;
			transform: translateX(-50%);
			border-top: 3px solid #ffffff;
			border-bottom: 3px solid #ffffff;

			&__element {
				text-align: center;
			}
		}	
	}

	.portfolio__categories {
		margin-top: 30px;
		margin-bottom: 10px;
	}

	.work {
		transition: 0s;

		.work__about {			
			display: none;
		}

		&__img {
			width: 100%;
			height: 100%;
		}

		&:hover {
			.work__img {
				transform: scale(1);
			}
		}
	}

	.hamburger {
		display: block;
		width: 30px;
		height: 20px;
		cursor: pointer;
		border: 0;
		border-top: 3px solid #ffffff;
		background-color: transparent;
		transition: .3s;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 5%;

		&:before,
		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			border-top: 3px solid #ffffff;
			transform: translateY(7px);
			transition: .3s transform linear;
		}

		&:after {
			transform: translateY(17px);
		}

		&.active {
			transform: rotate(45deg) translate(-6px, -6px);
			border: none;

			&:after {					
				transform: rotate(-90deg) translateX(-7px);
			}
		}
	}

	.header-section {
		flex-direction: column-reverse;
		background: $dark-blue;

		.section-heading {
			font-size: 3.4em;
		}

		&__container {
			align-items: center;
			justify-content: center;
			text-align: center;
			margin-top: 30px;
			margin-bottom: 30px;
			width: 95vw;
			padding: 0;
		}

		&__img {			
			margin-left: 20px;
		}

		&__about {
			margin-top: 15px;
			font-size: 2em;
		}
	}
}

@media (max-width: 570px) {
	.header-section {
		&__img {
			width: 85vw;
			margin: 0;
			padding: 0;
		}
	}

	.works-container {
		width: 100%;
	}

	.slider {
		width: 90vw;

		&__slides {
			width: 360vw;
		}
	}

	.testimonial-container {
		flex-direction: column;
	  width: 90%;
	  margin-left: 20px;

		&__face {
			margin-right: 0px;
			margin-bottom: 30px;
		}

		&__quote {
			width: 90%;
		}
	}

	.contact__form {
		width: 90vw;
		flex-direction: column;
		align-items: center;
		height: auto;

		&__name,
		&__mail,
		&__message {
			width: 95%;
			margin: 5px;
		}

		&__message {
			margin-bottom: 25px;
		}
	}

	.to-top {
		display: none;
	}
}
